*{
    padding:5px ;
    margin:3px ;
    box-sizing: border-box ;
}

html{
    font-size: 140%;
}

.contenedor{
    display: grid ;
    grid-template-areas: "image myprofile"
                    "socialmedia lastjob"
                    "mystudies myskills" ;
    grid-template-columns: 4rem 4rem;
    background: rgb(195, 168, 216);
    grid-template-columns: 40vw 50vw;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
    border: double rgb(144, 57, 202) 5px;
}

.item{
    width:3rem ;
    height:3rem ;
    background: rgb(143, 148, 219);
    font-size: 2.4rem ;
    border: solid rgb(0, 0, 0) ;
    
}

.image{
    grid-area: image;
    border-radius: 50%;
}

.myprofile{
    grid-area: myprofile;
}

.socialmedia{
    grid-area: socialmedia;
}

.lastjob{
    grid-area: lastjob;
}

.mystudies{
    grid-area: mystudies;
}

.myskills{
    grid-area: myskills;
}