*{
    padding:0px ;
    margin:0px ;
    box-sizing: border-box ;
}   

.contenedor{
    display: grid ;
    grid-template-areas: "navegacion navegacion"
                    "slogan image2"
                    "logos texto" ;
    background: rgb(226, 171, 180);
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 80vh 10vh;
    background-image: linear-gradient(225deg, #d37a6c 0, #e5ada0 16.67%, #a95ab5 33.33%, #8c47f0 50%, #8644f2 66.67%, #8644f2 83.33%, #8644f2 100%);
}

.navegacion{
    grid-area: navegacion;
    padding: 1rem 5rem;
    display: grid;
    grid-template-areas: "imagen opciones contactos";
    grid-template-columns: 15vw 65vw 20vw ;
    overflow-y: hidden;
    overflow-x: hidden;
}

.imagen{
    grid-area: imagen;
    
}

.opciones{
    font-size: 2rem;
    grid-area: opciones;
    text-align: center;
}

.contactos{
    grid-area: contactos;
    width: 10rem;
    height: 3rem;
    background-image: radial-gradient(circle at 14.29% 56.3%, #efce58 0, #f1c24a 25%, #f2b53c 50%, #f3a72f 75%, #f59a25 100%);
    border-radius: 0.8rem;
    border: 0.2rem solid #dcafaabd;
}

.navegacion ul{
    list-style: none;
}

.navegacion ul li{
    display: inline-block;
    padding-right: 1.6rem;
}

.navegacion ul li a{
    font-size: 70%;
    text-decoration: none;
    color: rgb(199, 196, 196);
}

.slogan{
    grid-area: slogan;
    font-size: 650%;
    font-weight: 900;
    padding: 10rem;
    color: rgb(224, 223, 223);
}

.colordiferente{
    color: #feb70e;
}

.image2{
    grid-area: image2;
    padding: 4rem;
}

.logos{
    grid-area: logos;
}

.texto{
    grid-area: texto;
}

body {
	color: #feb70e;
	font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.3;
}
